/*  
    position: absolute (removes from hierarchy);
    position: static (no movement, stays where it is);
    position: relative; (...to where it would've been static) 

    margin/padding shorthand: top right bottom left
                              top right/left bottom
                              top/bottom right/left
                              top/bottom/right/left
*/
/*https://developer.mozilla.org/en-US/docs/Learn_web_development/Core/Styling_basics/Organizing

https://medium.com/swlh/better-ways-to-organise-css-properties-9a066e7ded62
*/


/* ! General (no class/id) */
:root {
    --bg: rgb(33, 33, 33);
    --radius: 10px;

    --grey: rgb(56, 56, 56);
    --lgrey: rgb(125, 125, 125);
    --dgrey: rgb(40, 40, 40);
    --blue: rgb(10, 162, 213);
    --lblue: rgb(158, 227, 255);
    --orange: rgb(235, 98, 0);
    --lorange1: rgb(255, 170, 72);
    --lorange2: rgb(252, 147, 27);
    --yellow: rgb(236, 154, 0);
    --lyellow1: rgb(255, 226, 130);
    --lyellow2: rgb(251, 212, 85);
    --purple: rgb(179, 90, 199);
}

body {
    min-width: 500px;
    
    background-color: var(--bg);

    font-family: monospace;

    color: white;
}

p, h1, h2, h3, h4, a, .miniForm, .inputs {
    margin: 10px;
}

a:link {
    color: darkgrey;
}

a:visited {
    color: lightslategray;
}

li {
    margin: 2px 10px 2px -20px;
    padding-left: 15px;
}

img {
    width: auto;
    height: 80px;
    padding: 5%;
}

form {
    padding-left: 10px;
}

label {
    border-radius: 2px;
    margin: 10px;
    padding: 2px;

    color: white;

    font-weight: bold;
}

input, textarea {
    padding: 5px;
    border: none;
    border-radius: 5px;

    background-color: white;
    border: 2px solid var(--bg);

    font-family: var(--font);
    font-size: 12px;
}

input {
    width: 95%;
}

p.codeline {
    width: 90%;
}

textarea {
    min-height: 700px;
    margin-bottom: 20px;

    resize: none;
}

table, th, td {
    margin: 10px;
    padding: 5px;
    border: 2px solid var(--bg);
    border-collapse: collapse;

    font-size: 12px;

    background-color: white;

    color: var(--bg);
    text-align: left;
}

::placeholder {
    color: var(--lgrey);
}



/* ! .classes */

/* !! colours*/
.me, .miscHover:hover {
    color: var(--purple);
    
    transition-duration: 0.25s;
}

/* !!!! colourless*/
.labelSmall {
    padding: 5px;
    border-radius: 5px;

    background-color: white;

    transition-duration: 0.25s;   
}

div.blue input.codeline {
    border: 2px solid var(--blue);
}

div.orange input.codeline {
    border: 2px solid var(--orange);
}

div.yellow input.codeline {
    border: 2px solid var(--yellow);
}

.codeline {    
    margin: 0px 10px 10px;

    color: var(--bg);

    font-size: 12px;
    font-family: monospace;
}

/* !!! code tabs*/
.blueT, .blueHover:hover {
    color: var(--blue);
    
    transition-duration: 0.25s;
}

.orangeT, .orangeHover:hover {
    color: var(--orange);
    
    transition-duration: 0.25s;
}

.yellowT, .yellowHover:hover {
    color: var(--yellow);

    transition-duration: 0.25s;
}

.blueT:hover, .orangeT:hover, .yellowT:hover {
    padding-left: 5px;
    transition-duration: 0.25s;
    cursor: pointer;
}

/* !!! code pages*/

/* !!!! exterior*/
.grey, .labelG {
    background-color: var(--grey);

    transition-duration: 0.25s;
}

.blue, .labelB {
    background-color: var(--blue);

    transition-duration: 0.25s;
}

.orange, .labelO {
    background-color: var(--orange);

    transition-duration: 0.25s;
}

.yellow, .labelY {
    background-color: var(--yellow);

    transition-duration: 0.25s;
}

/* !!!! interior*/
.greySpace {
    border: 5px solid var(--grey);

    background-color: var(--lgrey);
}

.blueSpace {
    border: 5px solid var(--blue);

    background-color: var(--lblue);
}

.orangeSpace1 {
    border: 5px solid var(--orange);

    background-color: var(--lorange1);
}

.orangeSpace2 {
    border: 5px solid var(--orange);

    background-color: var(--lorange2);
}

.yellowSpace1 {
    border: 5px solid var(--yellow);

    background-color: var(--lyellow1);
}

.yellowSpace2 {
    border: 5px solid var(--yellow);

    background-color: var(--lyellow2);
}

/* !! filepath/misc section*/

.push {
    margin-left: -2.5px;
}

.doc, .miniForm {
    width: 90%;
    margin: 5px 5% 20px;
}

.miniText {
    font-family: 'Times New Roman', Times, serif;
}

.miniList, .miniForm {
    margin-left: 5px;
}

.button {
    padding: 10px;
    border-radius: var(--radius);

    background-color: var(--bg);
    border: none;

    font-family: var(--font);  

    color: white;  
}

/* !! tab/coding section*/
.tab {
    float: left;
    z-index: 1;

    width: 70px;
    height: 50px;
    margin-right: 9px;
    border-radius: var(--radius);   
}

.tab:hover {
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;

    transition-duration: 0.25s;
}

.window {
    position: absolute;

    width: 67.5%;
    height: 525px;
    margin-top: 60px;
    border-radius: var(--radius);
    overflow: auto;
}

.space {
    margin: 23px 20px;
    border-radius: var(--radius);
    
    transition-duration: 0.25s;
}

.labelG, .labelB, .labelO, .labelY {
    padding: 5;
    border-radius: 5px;
}

.inputCss, .inputHtml, .inputJs {
    height: 25px;
}

.syntax {
    color: white;

    font-weight: bold;
}

.syntaxTab {
    margin-left: 25px;
}

.syntaxTab1 {
    margin-left: 50px;
}

.syntaxTab2 {
    margin-left: 75px;
}

.syntaxTab3 {
    margin-left: 100px;
}

.syntaxTab4 {
    margin-left: 125px;
}

/* ! toggle section*/
.option, .filename:hover, .button:hover {
    cursor: pointer;
}

/* ! #ids */

/* !! preamble section*/
#preamble {
    position: fixed;
    height: 45px;
    top: 0px;
    transition-duration: 0.25s;
    z-index: 4;
    overflow: auto;

    padding: 5px;
    border: 10px solid var(--bg);
    border-radius: 25px;

    background-color: var(--dgrey);

    text-align: center;
}

#preamble:hover {
    position: fixed;
    top: 10px;

    height: 145px;

    transition-duration: 0.25s;
}

#pushDown {
    width: 100%;
    height: 65px;
}

/* !! content section*/
#container {
    display: grid;
    grid-template-columns: 30% 70%;

    padding: 10px;
}

/* !!! filepath section*/
#filepath {
    height: 575px;

    padding: 10px 0px 0px 10px;
    border-radius: var(--radius);
    overflow: auto;

    background-color: var(--grey);

    box-shadow: 0px 5px var(--lgrey);
}

#syntaxCheck:hover {
    cursor: pointer;
    color: var(--purple);
}

#miniWindow, #miniConsole {
    padding-bottom: 5px;
    border-radius: var(--radius);
    transition-duration: 0.25s;
    
    margin: 15px 5px;

    background-color: white;
    
    color: var(--bg); 
}

#webpageNav, #consoleHeader {
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;

    padding: 5px;

    background-color: var(--bg);

    color: white;
}

/* !!! tabs/coding section*/

#greyTab {
    height: 70px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;

    box-shadow: 0px 5px var(--lgrey);
}

#greyWindow {
    z-index: 3;
    
    box-shadow: 0px 5px var(--lgrey);
}

#cssWindow, #htmlWindow, #jsWindow {
    z-index: 1;
}

#cssTab, #cssWindow, #cssCodeWindow {
    box-shadow: 0px 5px var(--lblue);
}

#htmlTab, #htmlWindow, #htmlCodeWindow {
    box-shadow: 0px 5px var(--lorange2);
}

#jsTab, #jsWindow, #jsCodeWindow {
    box-shadow: 0px 5px var(--lyellow2);
}

#stylesheet, #scripting {
    font-weight: bold;
}

#code {
    margin-left: 10px;
}

#inputNotes {
    height: 90%;
}

#separator {
    height: 3200px;

    background-color: var(--bg);

    z-index: 2;
}

/* !!! toggle section*/
#toggle {
    position: fixed;
    left: 20%;
    right: 20%;
    bottom: -105;
    z-index: 5;
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;

    width: 60%;
    height: 100px;
    border: 10px solid var(--purple);
    border-radius: 25px;

    background-color: var(--grey);
    
    text-align: center;

    transition-duration: 0.25s;
}

#toggle:hover {
    bottom: -35;

    border: 10px solid var(--bg);

    transition-duration: 0.25s;
}



